@font-face {
  font-family: "Helvetica";
  src: url("./fonts/helvetica-rounded-bold-5871d05ead8de.otf");
}

@font-face {
  font-family: "Pacifico";
  src: url("./fonts/Pacifico-Regular.ttf");
}

.appContainer {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  min-height: 500px;
}

.logoContainer {
  position: absolute;
  left: 0;
  top: 0;
  margin: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}

.logoText {
  font-size: 26px;
  color: rgb(67, 193, 243);
  font-family: "Pacifico";
  margin: 0;
}

.flexContainer {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  z-index: 2;
  min-width: 450px;
  min-height: 450px;
}

.left .carousel-root {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  z-index: 2;
}

.right .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255, 189, 113);
  padding: 25px;
  border-radius: 20px;
}

.title {
  font-size: 58px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.description {
  font-size: 20px;
  font-family: "Helvetica";
  margin: 10px 0px;
  text-align: center;
}

.right .qr {
  width: 200px;
  height: 200px;
}

.links {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.download {
  height: 100px;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 1642px) {
  .title {
    font-size: 54px;
  }
  .description {
    font-size: 18px;
  }
  .right .qr {
    width: 175px;
    height: 175px;
  }
  .download {
    height: 90px;
  }
}

@media (max-width: 1405px) {
  .title {
    font-size: 45px;
  }
  .description {
    font-size: 17px;
  }
  .right .qr {
    width: 150px;
    height: 150px;
  }
  .download {
    height: 80px;
  }
}

@media (max-width: 1192px) {
  .title {
    font-size: 40px;
  }
  .description {
    font-size: 16px;
  }
  .right .qr {
    width: 125px;
    height: 125px;
  }
  .download {
    height: 70px;
  }
}

@media (max-width: 1073px) {
  .title {
    font-size: 32px;
  }
  .description {
    font-size: 15px;
  }
  .right .qr {
    width: 110px;
    height: 110px;
  }
  .download {
    height: 60px;
  }
}

@media (max-width: 883px) {
  .appContainer {
    height: 140vh;
  }
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 80%;
    max-width: 650px;
    min-width: 500px;
    margin-bottom: 0;
  }
  .right {
    width: 60%;
  }
}

@media (max-width: 565px) {
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 80%;
    min-width: 500px;
  }
  .right {
    width: 60%;
  }
  .title {
    font-size: 28px;
  }
  .logo {
    width: 35px;
    height: 35px;
  }
  .logoText {
    font-size: 23px;
  }
}

@media (max-height: 850px) and (max-width: 883px) {
  .appContainer {
    height: 150vh;
  }
}

@media (max-height: 800px) and (max-width: 883px) {
  .appContainer {
    height: 175vh;
  }
}

@media (max-height: 695px) and (max-width: 883px) {
  .appContainer {
    height: 200vh;
  }
}

@media (max-height: 600px) and (max-width: 883px) {
  .appContainer {
    height: 225vh;
  }
}

@media (max-height: 530px) and (max-width: 883px) {
  .appContainer {
    height: 250vh;
  }
}

@media (max-height: 475px) and (max-width: 883px) {
  .appContainer {
    height: 275vh;
  }
}

@media (max-height: 580px) and (min-width: 884px)  {
  .left {
    min-height: 600px;
  }
  .right {
    min-height: 575px;
  }
}

@media (max-height: 580px) and (min-width: 884px)  {
  .appContainer {
    height: 150vh;
  }
}